/* ** IMPORT LAYOUT ** */
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./components/modal.scss";

/* ** IMPORT FONTS ** */

/* ********* STYLE GENERALE ********** */
body {
  margin: 0;
  color: black;
  font-family: "space mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
