@charset "UTF-8";
/* ** IMPORT LAYOUT ** */
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype"), url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype"), url("../assets/fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"), url("../assets/fonts/Poppins/Poppins-Black.ttf") format("truetype"), url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype"), url("../assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype"), url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype"), url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
/* ************************** HEADER **************************** */
header {
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.031372549);
}

.header {
  margin: 0 100px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-menu {
  padding: 0;
  display: flex;
  width: 300px;
  justify-content: space-between;
  text-transform: uppercase;
  overflow: hidden;
}

.menu-toggle {
  display: none;
}

/* ************************** MOBILE MENU **************************** */
@media screen and (max-width: 768px) {
  .header {
    margin: 0 26px 20px;
    padding: 20px 0;
  }
  #menu-menu {
    width: 100%;
    justify-content: center;
    z-index: 1;
  }
  #menu-menu a {
    color: white;
  }
  .menu {
    position: absolute;
    top: 85px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #e00000;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    gap: 40px;
    display: none; /* Le menu est initialement caché */
    height: 0;
    transition: height 1.5s ease;
  }
  .menu.open {
    height: 88vh;
  }
  .menu-toggle {
    padding-top: 5px;
    display: block;
    background: transparent;
    border: none;
  }
  .menu-toggle .menu-toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
  }
  .menu-toggle.cross .line:nth-child(1) {
    transform: rotate(-45deg) translate(1px, 6px);
  }
  .menu-toggle.cross .line:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.cross .line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -16px);
  }
  .menu-toggle-icon span {
    width: 2rem;
    height: 0.25rem;
    background: black;
  }
  #menu-menu.open {
    display: flex; /* Le menu est affiché lorsque la classe 'open' est ajoutée */
  }
}
/* ************************ FOOTER ******************************** */
.footer {
  border-top: 2px solid;
  display: flex;
  justify-content: center;
  gap: 90px;
  text-transform: uppercase;
}

.menu-footer-container {
  height: 90px;
  width: 380px;
  padding: 0;
}

#menu-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ***************** MOBILE FOOTER *************************** */
@media screen and (max-width: 768px) {
  .footer {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  #menu-footer {
    position: relative;
    padding: 0;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 0;
  }
  #menu-footer a {
    font-size: 0.5em;
  }
}
/* La modale (background) */
#myModal {
  font-family: "Poppins", sans-serif;
}

.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place */
  z-index: 1; /* Situé en haut */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/*Modale Content class="wpcf7 js"*/
.wpcf7 {
  background-color: #fefefe;
  margin: auto;
  border: 5px solid #000000;
  width: 597px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form p {
  width: 263px;
}
.form p input {
  height: 40px;
}
.form p .wpcf7-textarea {
  width: 100%;
}
.form input,
.form .wpcf7-textarea {
  width: 100%;
  border: 1px solid #b8bbc2;
  border-radius: 8px;
}
.form input.wpcf7-submit,
.form .wpcf7-textarea.wpcf7-submit {
  background-color: #d8d8d8;
  border-radius: 2px;
  border: none;
  height: 50px;
  transition: all 1.5s;
}
.form input.wpcf7-submit.hover_input:hover,
.form .wpcf7-textarea.wpcf7-submit.hover_input:hover {
  background-color: #000;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wpcf7-not-valid-tip {
  font-size: 0.8em;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0em 0.5em 1em;
}

.wpcf7-response-output {
  font-size: 0.8em;
  text-align: center;
}

.wpcf7-spinner {
  display: none;
}

/* ************************** MOBILE MODAL**************************** */
@media screen and (max-width: 768px) {
  .wpcf7,
  img {
    width: 286px;
  }
  .form p {
    width: 190px;
  }
}
.suggestion_photo .related-photo {
  position: relative;
}
.suggestion_photo .related-photo .hover_photo {
  position: absolute;
  width: 95%;
  height: 0vw;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.8s ease-in-out;
  opacity: 0;
}
.suggestion_photo .related-photo .hover_photo a .eye {
  position: absolute;
  width: 4vw;
  height: 3vw;
  -o-object-fit: contain;
     object-fit: contain;
  top: 45%;
  right: 42%;
}
.suggestion_photo .related-photo .hover_photo .fullscreen {
  position: absolute;
  width: 4vw;
  height: 3vh;
  -o-object-fit: contain;
     object-fit: contain;
  top: 18px;
  right: 20px;
}
.suggestion_photo .related-photo .hover_photo .reference {
  position: absolute;
  bottom: 0;
  left: 2vw;
  color: white;
}
.suggestion_photo .related-photo .hover_photo .categorie {
  position: absolute;
  color: white;
  bottom: 0;
  right: 2vw;
}
.suggestion_photo .related-photo:hover .hover_photo {
  font-size: 0.8em;
  height: 40vw;
  opacity: 1;
}
.suggestion_photo :nth-child(2) .hover_photo {
  left: auto;
  right: 0;
}

/* ****************** version responsive ******************* */
@media screen and (max-width: 768px) {
  .suggestion_photo .related-photo .hover_photo {
    width: 100%;
    height: 0vw;
  }
  .suggestion_photo .related-photo .hover_photo a .eye {
    width: 50px;
    right: 42%;
  }
  .suggestion_photo .related-photo .hover_photo .fullscreen {
    width: 50px;
  }
  .suggestion_photo .related-photo:hover .hover_photo {
    height: 65vw;
  }
}
#lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0.8s;
}
#lightbox.active {
  opacity: 1;
  visibility: visible;
}
#lightbox button {
  background: none;
  border: none;
  cursor: pointer;
}
#lightbox button.cross {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 50px;
  height: 50px;
}
#lightbox .lightbox-photo {
  position: relative;
  max-width: 60%;
  max-height: 70%;
}
#lightbox .prev {
  position: absolute;
  z-index: 3;
  left: 9vw;
}
#lightbox .next {
  position: absolute;
  z-index: 3;
  right: 10vw;
}
#lightbox .lightbox-info {
  color: white;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.section_photo {
  display: flex;
  margin: 0 100px;
  align-items: flex-end;
}
.section_photo .description_photo {
  width: 50%;
}
.section_photo .description_photo h1 {
  width: inherit;
  font-style: italic;
  font-size: 3em;
  font-weight: 400;
}
.section_photo .description_photo :last-child {
  border-bottom: solid 2px black;
  margin-bottom: 0.4em;
  padding-bottom: 25px;
}
.section_photo .single_photo {
  width: 50%;
  padding-left: 1em;
}
.section_photo .single_photo img {
  width: 100%;
  height: auto;
}

/* ********************** section navigation ****************** */
.section_navigation {
  height: 118px;
  display: flex;
  margin: 0 100px 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px black;
}
.section_navigation .contact_photo {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.section_navigation .contact_photo button {
  width: 40%;
  height: 50px;
  margin-right: 0.4em;
}
.section_navigation .navigation_photo {
  display: flex;
  gap: 50px;
  margin-top: 75px;
}

.next-photo-link {
  position: relative;
}
.next-photo-link .thumbnail {
  position: absolute;
  top: 50%; /* Positionne le haut de l'élément au milieu de l'élément parent */
  left: 50%; /* Positionne la gauche de l'élément au milieu de l'élément parent */
  width: 0;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  transform: translate(-88%, -113%); /* Déplace l'élément vers le haut et vers la gauche de 50% de sa propre taille, ce qui le centre parfaitement */
  display: flex; /* Utilise flexbox pour aligner l'image au centre */
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
}

.prev-photo-link {
  position: relative;
}
.prev-photo-link .thumbnail {
  position: absolute;
  top: 50%; /* Positionne le haut de l'élément au milieu de l'élément parent */
  left: 50%; /* Positionne la gauche de l'élément au milieu de l'élément parent */
  width: 0;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in-out;
  transform: translate(-13%, -113%); /* Déplace l'élément vers le haut et vers la gauche de 50% de sa propre taille, ce qui le centre parfaitement */
  display: flex; /* Utilise flexbox pour aligner l'image au centre */
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
}

.prev-photo-link:hover .thumbnail,
.next-photo-link:hover .thumbnail {
  width: 100px; /* Ajustez cette valeur en fonction de la taille souhaitée pour les miniatures */
  height: 80px; /* Ajustez cette valeur en fonction de la taille souhaitée pour les miniatures */
}

/* ******************* photos associées ******************** */
.section_suggestion h2 {
  margin: 50px 100px;
}

.suggestion_photo {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 50px;
}
.suggestion_photo .related-photo {
  width: 50%;
}
.suggestion_photo .related-photo img {
  width: 95%;
  height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.suggestion_photo :nth-child(2) {
  text-align: end;
}

/* ****************** version responsive ******************* */
@media screen and (max-width: 768px) {
  .section_photo {
    flex-direction: column-reverse;
    margin: 0 30px 20px;
  }
  .section_photo .description_photo {
    width: 100%;
  }
  .section_photo .description_photo h1 {
    font-size: 2em;
  }
  .section_photo .description_photo :last-child {
    border: none;
  }
  .section_photo .single_photo {
    width: 100%;
  }
  .section_navigation {
    width: 100%;
    margin: auto;
    border-top: solid 2px black;
  }
  .section_navigation .contact_photo {
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  .section_navigation .contact_photo button {
    margin-bottom: 10px;
    width: 100%;
  }
  .section_navigation .navigation_photo {
    display: none;
  }
  .section_suggestion h2 {
    margin: 25px 30px;
  }
  .section_suggestion .suggestion_photo {
    flex-direction: column;
    margin: 0 30px 20px;
    gap: 20px;
  }
  .section_suggestion .suggestion_photo .related-photo {
    width: 100%;
  }
  .section_suggestion .suggestion_photo .related-photo img {
    height: 65vw;
    width: 100%;
  }
}
/* ** IMPORT FONTS ** */
/* ********* STYLE GENERALE ********** */
body {
  text-transform: uppercase;
  margin: 0;
  color: black;
  font-family: "space mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.hover_button,
.hover_input {
  background-color: #d8d8d8;
  border: none;
  transition: all 1.5s;
}

.hover_button:hover,
.hover_input:hover {
  background-color: black;
  color: white;
}/*# sourceMappingURL=style.css.map */