/* ** IMPORT LAYOUT ** */
@import "./bases/typography.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./components/modal.scss";
@import "./components/photo.scss";
@import "./layout/single-photo.scss";
/* ** IMPORT FONTS ** */

/* ********* STYLE GENERALE ********** */
body {
  text-transform: uppercase;
  margin: 0;
  color: black;
  font-family: "space mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.hover_button,
.hover_input {
  border: none;
  transition: all 1.5s;
}
.hover_button:hover,
.hover_input:hover {
  background-color: black;
  color: white;
}
