.section_hero {
  width: 100%;
  height: 75vh;
  margin-bottom: 2vw;
}
.section_hero .hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section_hero .hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.section_hero .hero .logo_hero {
  position: relative;
  z-index: 3;
  width: 50%;
  height: 5vw;
}

.section_filter-photos {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0px;
  font-family: "Poppins", sans-serif;
}
.section_filter-photos .custom-select {
  display: flex;
  justify-content: space-between;
  width: 47%;
}
.section_filter-photos .custom-select #format-filter,
.section_filter-photos .custom-select #category-filter {
  height: 40px;
  width: 40%;
}
.section_filter-photos .custom-select .select2-container--open {
  border: 1.5px solid #215aff !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.section_filter-photos .custom-select:last-child {
  display: flex;
  justify-content: flex-end;
  width: 47%;
}
.section_filter-photos .custom-select:last-child #order-filter {
  height: 40px;
  width: 45%;
}
.section_filter-photos .custom-select:last-child .select2-container--open {
  border: 1.5px solid #215aff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single:after {
  content: ">";
  position: absolute;
  right: 10px;
  top: 6%;
  transform: rotate(90deg);
  margin-right: 8px;
}

.select2-container--open .select2-selection--single:after {
  content: "<";
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ffd6d6 !important;
  color: white;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:active {
  background-color: #fe5858 !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #e00000 !important;
  color: white;
}

/* **************** SECTION BLOCK PHOTO********************* */
.section_block-photo {
  margin-top: 40px;
}
.section_block-photo .btn_load-more {
  text-align: center;
}
.section_block-photo .btn_load-more #load-more {
  width: 270px;
  height: 50px;
  margin-bottom: 50px;
}

/* ****************** RESPONSIVE **************************** */
@media screen and (max-width: 768px) {
  .section_hero {
    height: 60vw;
  }
  .section_hero .hero .logo_hero {
    scale: 1.5;
  }
  .section_filter-photos {
    flex-direction: column;
    margin: 20px;
    gap: 12px;
  }
  .section_filter-photos .custom-select:last-child {
    width: 100%;
  }
  .section_filter-photos .custom-select {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
  }
  .section_filter-photos .custom-select #category-filter,
  .section_filter-photos .custom-select #format-filter {
    width: 80%;
  }
  .section_filter-photos .custom-select #category-filter .selection .select2-selection--single,
  .section_filter-photos .custom-select #format-filter .selection .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .section_filter-photos .custom-select #category-filter .selection .select2-selection--single::after,
  .section_filter-photos .custom-select #format-filter .selection .select2-selection--single::after {
    top: 20%;
  }
  .section_filter-photos:last-child {
    display: flex;
    justify-content: center;
  }
  .section_block-photo .block_photo {
    flex-direction: column;
    margin: 25px;
    align-content: center;
  }
  .section_block-photo .block_photo .photo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section_block-photo .block_photo .photo img {
    height: 70vw;
  }
  .section_block-photo .block_photo .photo .hover_photo {
    display: none;
  }
}/*# sourceMappingURL=accueil.css.map */