/* ************************** HEADER **************************** */
header {
  box-shadow: 0px 4px 14px 10px #00000008;
}

.header {
  margin: 0 100px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-menu {
  padding: 0;
  display: flex;
  width: 300px;
  justify-content: space-between;
  text-transform: uppercase;
  overflow: hidden;
}

.menu-toggle {
  display: none;
}

/* ************************** MOBILE MENU **************************** */
@media screen and (max-width: 768px) {
  .header {
    margin: 0 26px 0px;
    padding: 23px 0;
    & .logo1 {
      padding-top: 8px;
      & .logo {
        width: 45vw;
      }
    }
  }
  #menu-menu {
    width: 100%;
    justify-content: center;
    z-index: 4;
    top: 10vw;
    & a {
      color: white;
    }
  }
  .menu {
    position: absolute;
    top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #e00000;
    font-size: 2em;
    text-align: center;
    justify-content: center;
    gap: 40px;
    display: none; /* Le menu est initialement caché */
    height: 0;
    transition: height 1.5s ease;
    &.open {
      height: 95vh;
    }
  }

  .menu-toggle {
    padding-top: 5px;
    display: block;
    background: transparent;
    border: none;

    & .menu-toggle-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 2rem;
      height: 2rem;
    }

    &.cross .line:nth-child(1) {
      transform: rotate(-45deg) translate(1px, 6px);
    }

    &.cross .line:nth-child(2) {
      opacity: 0;
    }

    &.cross .line:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -17px);
    }
  }
  .menu-toggle-icon span {
    width: 1.5rem;
    height: 0.2rem;
    background: black;
  }

  #menu-menu.open {
    display: flex; /* Le menu est affiché lorsque la classe 'open' est ajoutée */
  }
}
