.single_photo {
  width: 50%;
  & img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

//affichage miniature
.prev-photo-link img,
.next-photo-link img {
  transition: all 0.3s ease-in-out;
}

.prev-photo-link:hover img,
.next-photo-link:hover img {
  width: 100px; /* Changez cela en fonction de la taille souhaitée pour les miniatures */
}

.related-photo .attachment-post-thumbnail {
  width: 500px;
  height: auto;
}
