@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype"),
    url("../assets/fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
    url("../assets/fonts/Poppins/Poppins-Black.ttf") format("truetype"),
    url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
    url("../assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype"),
    url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype"),
    url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
