#lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0.8s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  & button {
    background: none;
    border: none;
    cursor: pointer;
    &.cross {
      position: absolute;
      top: 5vw;
      right: 5vw;
      width: 50px;
      height: 50px;
    }
  }

  & .lightbox-photo {
    object-fit: cover;
    position: relative;
    max-width: 60%;
    max-height: 70%;
  }

  & .prev {
    position: absolute;
    z-index: 3;
    left: 9vw;
  }

  & .next {
    position: absolute;
    z-index: 3;
    right: 10vw;
  }
  & .lightbox-info {
    color: white;
    display: flex;
    width: 70%;
    justify-content: space-around;
  }
}
